.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#certifications {
  background-color: #e2edff;
}

.quote {
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
